<mat-toolbar color="primary">
    <span>Raças</span>
    <span class="spacer"></span>
</mat-toolbar>

<div class="container" *ngIf="racialTraits.length > 0; else noItems">
    <div class="card-grid">
        <mat-card class="card" *ngFor="let race of racialTraits" appearance="outlined">
            <mat-card-header base="elevated-container-shape">
                <mat-card-title>{{ race.name }}</mat-card-title>
                <mat-card-subtitle>{{ race.book }} - Pág. {{ race.page }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-divider></mat-divider>
                <p class="description"><strong>Descrição: </strong>{{ race.description }}</p>

                <div class="traits-section" *ngIf="race.traits">
                    <h4>Habilidades Raciais:</h4>
                    <ul>
                        <li *ngFor="let trait of getTraitsList(race.traits)">{{ trait }}</li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #noItems>
    <div class="container">
        <p>Nenhuma raça encontrada.</p>
    </div>
</ng-template>