<mat-toolbar color="primary">
    <span>Habilidades de Classe</span>
    <span class="spacer"></span>
</mat-toolbar>

<div class="container" *ngIf="classNames.length > 0; else noItems">
    <div *ngFor="let className of classNames">
        <h2 class="class-header">{{ className }}</h2>
        <mat-divider style="margin-bottom: 1rem;"></mat-divider>
        
        <div class="card-grid">
            <mat-card class="card" *ngFor="let ability of groupedAbilities[className]" appearance="outlined">
                <mat-card-header base="elevated-container-shape">
                    <!-- resume holds the Ability Name (e.g. Fúria) -->
                    <mat-card-title>{{ ability.resume }}</mat-card-title>
                    <mat-card-subtitle>{{ ability.book }} - Pág. {{ ability.page }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <p class="description"><strong>Descrição: </strong>{{ ability.description }}</p>

                    <div class="traits-section" *ngIf="ability.abilities">
                        <h4>Habilidades:</h4>
                        <ul>
                            <li *ngFor="let item of getAbilitiesList(ability.abilities)">{{ item }}</li>
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <br><br>
    </div>
</div>

<ng-template #noItems>
    <div class="container">
        <p>Nenhuma habilidade de classe encontrada.</p>
    </div>
</ng-template>
