<mat-toolbar color="primary">
    <span>Habilidades de Classe</span>
    <span class="spacer"></span>
</mat-toolbar>

<div class="container" *ngIf="classAbilities.length > 0; else noItems">
    <div class="card-grid">
        <mat-card class="card" *ngFor="let ability of classAbilities" appearance="outlined">
            <mat-card-header base="elevated-container-shape">
                <mat-card-title>{{ ability.name }}</mat-card-title>
                <mat-card-subtitle>{{ ability.book }} - Pág. {{ ability.page }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-divider></mat-divider>
                <p class="description"><strong>Descrição: </strong>{{ ability.description }}</p>

                <div class="traits-section" *ngIf="ability.abilities">
                    <h4>Habilidades:</h4>
                    <ul>
                        <li *ngFor="let item of getAbilitiesList(ability.abilities)">{{ item }}</li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #noItems>
    <div class="container">
        <p>Nenhuma habilidade de classe encontrada.</p>
    </div>
</ng-template>
