--
-- PostgreSQL database dump
--

\restrict eWIG2SCtFdeuKEIP2H98RkkjVLAdCuZjRhdBZxsNrkWfuFXWQDVDPOe7YxiqYvJ

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: card; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.card (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    type character varying(255),
    name text NOT NULL,
    resume text NOT NULL,
    description text,
    book text,
    page integer
);


ALTER TABLE public.card OWNER TO postgres;

--
-- Name: feature; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feature (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    card_id character varying(255) NOT NULL,
    feature_type text,
    prerequisites text,
    benefit text,
    normal text,
    special text
);


ALTER TABLE public.feature OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: magic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.magic (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    card_id character varying(255) NOT NULL,
    type character varying(255),
    school character varying(255),
    level character varying(255),
    components text,
    cast_time text,
    range text,
    target_area text,
    duration text,
    saving_throw text,
    spell_resistance text,
    effect text
);


ALTER TABLE public.magic OWNER TO postgres;

--
-- Data for Name: card; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: feature; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: magic; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: card card_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.card
    ADD CONSTRAINT card_pkey PRIMARY KEY (id);


--
-- Name: feature feature_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature
    ADD CONSTRAINT feature_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: magic magic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magic
    ADD CONSTRAINT magic_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: magic fk_card; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magic
    ADD CONSTRAINT fk_card FOREIGN KEY (card_id) REFERENCES public.card(id);


--
-- Name: feature fk_feature_card; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature
    ADD CONSTRAINT fk_feature_card FOREIGN KEY (card_id) REFERENCES public.card(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict eWIG2SCtFdeuKEIP2H98RkkjVLAdCuZjRhdBZxsNrkWfuFXWQDVDPOe7YxiqYvJ

