<mat-toolbar color="primary" class="topbar">
  <span>RPGZume</span>
  <button mat-button routerLink="/" routerLinkActive="active-link">Início</button>
  <button mat-button routerLink="/cards" routerLinkActive="active-link">Cards</button>
  <button mat-button routerLink="/features" routerLinkActive="active-link">Features</button>
  <button mat-button routerLink="/magics" routrLinkActive="active-link">Magias</button>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
