<mat-toolbar color="primary" class="topbar">
  <span>RPGZume</span>
  <button mat-button routerLink="/" routerLinkActive="active-link">Início</button>
  <button mat-button routerLink="/characters" routerLinkActive="active-link">Personagens</button>

  <button mat-button routerLink="/features" routerLinkActive="active-link">Features</button>
  <button mat-button routerLink="/magics" routerLinkActive="active-link">Magias</button>
  <button mat-button routerLink="/racial-traits" routerLinkActive="active-link">Raças</button>
  <button mat-button routerLink="/class-abilities" routerLinkActive="active-link">Habilidades de Classe</button>
  <button mat-icon-button (click)="logout()" title="Sair" class="logout-btn">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>